hpe.tfm.request.mgmt/src/main/resources/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema
	xmlns:tns="http://cia.services.netcracker.com/schemas/CommonTypes/v1"
	attributeFormDefault="unqualified" elementFormDefault="unqualified"
	targetNamespace="http://cia.services.netcracker.com/schemas/CommonTypes/v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TechnicalContext">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="MessageId"
					type="xs:string" />
				<xs:element minOccurs="0" name="MessageSentTimestampUTC"
					type="xs:string" />
				<xs:element minOccurs="0" maxOccurs="unbounded"
					name="Property">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="name" type="xs:string"
									use="optional" />
								<xs:attribute name="type" type="xs:string"
									use="optional" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>